/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body{
    font-family: 'Roboto', sans-serif;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-gap: 10px;
    background-color: rgb(109, 109, 109);
    padding: 10px;
  }
  /* .grid-container > div {
    background-color: rgba(109, 230, 149, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }

  .we.grid-container > div {
    background-color: rgba(234, 240, 151, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  } */
button{
  padding: 5px;
}
.header{
  background-color: rgba(250, 250, 250, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;

}
.wd{
  background-color: rgba(151, 243, 182, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;

}
  .we{
    background-color: rgba(229, 235, 146, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
