<div id="start" class='container'>
    <h1>Calendar</h1>

      <div id="insertBefore"></div>
  <form class="form">

    <mat-form-field>
      <input [(ngModel)]="numberDays" name="numberDays" matInput type="number" placeholder="How Many days?">
    </mat-form-field>
  </form>
  <form class="form">
    <mat-form-field>
      <input [(ngModel)]="startDate" name="startDate" matInput type="date" placeholder="Starting Date">
    </mat-form-field>
  </form>
  <!-- <form class="form">
    <mat-form-field>
      <input [(ngModel)]="countryCode" name="counrtyCode" matInput type="text" placeholder="Country Code">
    </mat-form-field>
  </form> -->


  <button mat-raised-button color="primary" (click)="makeTheCalendar()">makeTheCalendar</button>
  
<div id="end"></div>
</div>

