<div id="start" class='container'>
    <h1>Calendar</h1>



    <!-- <<div class="grid-container">
        <div class="item1" [ngStyle]="{ 'grid-column' : (startGrid) }">0</div>
        <div *ngFor='let in of loopCt(); let i = index'>{{i+1}}</div> -->


      
      <div id="insertBefore"></div>
  <form class="form">

    <mat-form-field>
      <input [(ngModel)]="numberDays" name="numberDays" matInput type="number" placeholder="How Many days?">
    </mat-form-field>
  </form>
  <form class="form">
    <mat-form-field>
      <input [(ngModel)]="startDate" name="startDate" matInput type="date" placeholder="Starting Date">
    </mat-form-field>
  </form>
  <form class="form">
    <mat-form-field>
      <input [(ngModel)]="countryCode" name="counrtyCode" matInput type="text" placeholder="Country Code">
    </mat-form-field>
  </form>


  <button mat-raised-button color="primary" (click)="go()"># of days</button>
  <button mat-raised-button color="primary" (click)="initDate()">initDate</button>
  <button mat-raised-button color="primary" (click)="fillDateArray()">date array</button>
  <button mat-raised-button color="primary" (click)="createDaysHeader()">create day of week header</button>
  <button mat-raised-button color="primary" (click)="createMonthTitle()">create Month Title</button>
  <button mat-raised-button color="primary" (click)="createMonthGrid()">create Month grid</button>
  <button mat-raised-button color="primary" (click)="createCalendar()">create Calendar</button>
  <button mat-raised-button color="primary" (click)="makeTheCalendar()">makeTheCalendar</button>
  
<div id="end"></div>
</div>

